/*contenitore per l'intero calendario*/

body{
	background-color: #f2f2f2;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

* {
  box-sizing: border-box;
}

.containerAll {
	position:relative;
	margin-top: 3px;
	margin-right: 10px;
	display: flex;
	width: 100%;
	height: 100%;
	background-color: white;
}

.edit {
  border: 2px solid #57b7b7;
  color: #57b7b7;
  padding: 4px;
  border-radius: 7px;
  text-align: center;
  text-decoration: none;
  position:absolute;
  font-size: 16px;
  margin: 1.5%;
  cursor: pointer;
}

.edit:hover{
	background-color: #57b7b7;
	color:white;
}

/*contenitore per il calendario*/
.container-calendar {
	width: 80%;
	background-color: white;
	font-family: Verdana;
	border-right: 2px dotted black;
}

.container-calendar h1 h2 h3 {
	color: white;
	text-align: center;
	font-family: Verdana;
}

.altroAnno{
	background-color: white;
	color: black;
	font-size: 40%;
	border: none;
	cursor: pointer;
}

.container-year {
	overflow:hidden;
	color: black;
	font-family: Rod;
	text-align: center;
	font-size: 200%;
}

/*contenitore per la schedulazione
flex:1 -> prende il resto del container*/
.container-schedul {
	flex: 30%;
	height: 600px;
	overflow-y:scroll;
	background-color: transparent;
	font-family: Verdana;
	margin: 1%;
	padding-left: 1%;
}

/*per la schedulazione delle squadre*/
.wrapper {
  grid-template-columns: auto;
  grid-template-rows: auto;
  background-color: #fff;
  color: #444;
}

.mansione{
	box-shadow: 20%;
	color: black;
	border: 3px solid white;
	border-bottom: 3px solid black;
	margin: 10px 0 10px 0;
	font-size: 90%;
	font-weight: bold;
	overflow: visible;
	text-align: center;
} 

.vigili{
	font-style: italic;
	color: black;
	text-align: center;
}

#giornoCorrente{
	font-weight: bold;
	color: #b60000;
}

#giornoLavorativoDiurno{
	background-color: #a0d6d6;
}

#giornoLavorativoNotturno{
	background-color: #57b7b7;
}

#giornoCorrenteLavorativoDiurno{
	font-weight: bold;
	color: #b60000;
	background-color: #a0d6d6;
}

#giornoCorrenteLavorativoNotturno{
	font-weight: bold;
	color: #b60000;
	background-color: #57b7b7;
}

.grid-days {
	display: grid;
	grid-template-columns: auto auto auto auto auto auto auto;
	color: black;
	border-bottom: 3px solid black;
	justify-content: center;
	font-family: Verdana;
}

.grid-container {
	display: grid;
	grid-template-columns: auto auto auto auto auto auto auto;
	background-color: transparent;
	padding: 2%;
	font-family: Verdana;
}

/*grid-item e item-empty sono uguali, solo che item-empty
(->ovvero le parti del calendario che non hanno elementi)
non ha la proprietà :hover*/
.grid-item {
	background-color: white;
	border-bottom: 0.1px solid #808080;
	border-top: 0.1 px solid #808080;
	padding: 10%;
	font-size: 200%;
	text-align: center;
	font-family: Verdana;
}

.item-empty{
	background-color: white;
	border-bottom: 0.1px solid #808080;
	border-top: 0.1 px solid #808080;
	padding: 10%;
	font-size: 200%;
	text-align: center;
	font-family: Verdana;}


.grid-item:hover {
	background-color: #c7c7c7 !important;	
}



/*menù DROPDOWN dei mesi*/
.grid-chose-month{
	display:grid;
	justify-content: center;
	
}

.dropbtn {
	background-color: white;
	border-bottom: 2px solid black !important;
	color: black;
	font-size: 150%;
	border: none;
	cursor: pointer;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 16px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown-item {
	font-size: 80%;
	color: #4b4b4b;
	padding: 12px 12px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {
	background-color: #f1f1f1;
	color: black;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown:hover .dropbtn {
	background-color: white;
}
/*Fine menù dropdown dei mesi*/

.info{
	text-decoration: none;
	color: black;
}


