@charset "ISO-8859-1";

* {
	box-sizing: border-box;
}

button {
	outline: none !important;
}

.topnav {
	background-color: #b60000;
	padding: 5px;
	margin-top: 3%;
	height: 60px;
}

.titleH {
	float: left;
	color: white;
	font-size: 45px;
	margin-left: 26%;
	margin-bottom: 5px;
	font-family: josefin sans, lato, raleway, montserrat,
		sans-serif !important;
}

.logo {
	width: 140%;
	height: 125%;
	padding: 7px;
	margin-top: -17%;
	margin-left: -20%
}

.round {
	margin-left: 5px;
	margin-top: -25%;
	border-radius: 50%;
	background: rgb(255, 255, 255);
	width: 120px;
	height: 120px;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
}

.topnav a {
	float: left;
	display: #b60000;
	color: #FFFFFF;
	text-align: center;
	text-decoration: none;
	font-size: 17px;
}

.topnav button.round:hover {
	background-color: #dddddd;
}

.topnav .icon {
	display: none
}

@media screen and (max-width: 600px) {
	.topnav a:not (:first-child ) {
		display: none;
	}
	.topnav a.icon {
		float: right;
		display: block;
	}
}

.rf {
	float: right;
}

.badge {
	position: absolute;
	padding: 3px 8px;
	border-radius: 50%;
	background-color: white;
	color: #B60000;
	font-size: 10px;
}

.bdgdel {
	margin-left: 83px;
	margin-top: -10px;
	position: absolute;
	border-radius: 50px;
	border: none;
	background: none;
}

.nn {
	border: none;
	background: none;
}

span .nn:hover {
	background-color: none;
	border: none;
}

span .del:hover {
	margin-top: -10px;
}

.del {
	width: 20px;
	height: 20px;
	margin-top: -7px;
}

.nl {
	float: right;
	border: none;
	background: none;
	height: 40px;
	width: 40px;
	margin-left: 5px;
	margin-top: -7px;
}

.dd {
	float: left;
	overflow: hidden;
	border: none;
	outline: none;
	padding: 14px 16px;
	margin: 0;
	width: 100%
}

.db {
	border: none;
	outline: none;
	padding: 14px 16px;
	right: 7%;
	margin: 0;
	width: 100%;
	background-color: #B60000;
	margin-top: -55%;
	height: 55px;
}

.dn {
	border: none;
	outline: none;
	padding: 14px 16px;
	right: 10%;
	margin: 0;
	width: 100%;
	background-color: #B60000;
	margin-top: -55%;
	height: 55px;
}

.ddc {
	display: none;
	position: absolute;
	right: 5%;
	/*top: 14%;*/
	z-index: 999;
	width: 15%;
	background: none;
	min-width: 230px;
	z-index: 1;
	border-radius: 5px;
	padding: 0.3%;
}

.lgt {
	float: inherit;
	right: 1%;
}

.ddc .cmd:hover {
	background-color: #dddddd;
}

.dd:hover .ddc {
	display: block;
}

.btl {
	align-items: flex-start;
	width: 30px;
	height: 30px;
}

.btl button:hover {
	background-color: rgba(0, 0, 0, 0.3);
}

.rtlg {
	float: right;
}

.ntf {
	width: 98%;
	border-left: solid;
	border-right: none;
	border-bottom: none;
	border-top: none;
	border-width: 4px;
	margin: 0.5%;
	border-radius: 4px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.cmd {
	border-color: #454d55;
	border-right: 1px outset;
	border-top: 1px inset;
	border-left: 1px inset;
	border-bottom: none;
	background-color: #FFFFFF;
	text-align: left;
	width: 100%;
	height: 60px;
}

.rd {
	border-color: #B60000;
}

#tornahome {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

#dispo {
	border-color: #454d55;
	border-bottom: 1px outset;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom: 1px outset;
	border-right: 1px outset;
	border-left: 1px inset;
	border-top: 1px inset;
}

.ddc .rd:hover {
	background-color: #ffaead;
}

.gr {
	border-color: #008000;
}

.ddc .gr:hover {
	background-color: #adffb0;
}

.yl {
	border-color: #d7d700;
}

.ddc  .yl:hover {
	background-color: #fffdad;
}