@charset "ISO-8859-1";

.topnav {
  overflow: hidden;
  background-color:#b60000 ;
  padding:5px; 
}

.logo{
	width: 115%;
	height: 115%;
	padding:7px;
	margin-top:-10%;
	margin-left:-9%
}

.round{
	margin-left:5px;
	border-radius: 50%;
	background: rgb(255, 255, 255);
	width: 80px;
	height: 80px;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
}
.topnav a {
  float: left;
  display: #b60000;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
}

.topnav .round:hover {
  background-color: #e1e1e1;
  color: white;
}


.topnav .icon { display:none }

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}


.inversesubmit{
	background-color: white;
	color: #b60000;
	font-weight: bold;
	padding: 7px 20px;
	text-align: center;
	display: inline-block;
	font-size: 16px;
	border-radius: 7px;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
	cursor: pointer;
}

.inversesubmit:hover {
	background-color: #b60000;
	color: white;
}

.rf{
	float:right;	
	margin-top:15px;
	margin-right:25px;
}

.nl{float:right;
	border:none;
	background:none;
	height:40px; width:40px;
	margin-left:5px;
	margin-top:-7px;
}