@charset "ISO-8859-1";
* {
  box-sizing: border-box;
}

.topnav {
  overflow: hidden;
  background-color:#b60000 ;
  padding:5px; 
}

.logo{
	width: 140%;
	height: 125%;
	padding:7px;
	margin-top:-17%;
	margin-left:-20%
}

.round{
	margin-left:5px;
	border-radius: 50%;
	background: rgb(255, 255, 255);
	width: 110px;
	height: 110px;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
}
.topnav a {
  float: left;
  display: #b60000;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
}

.topnav .round:hover {
  background-color: #e1e1e1;
  color: white;
}


.topnav .icon { display:none }

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}


.inversesubmit{
	background-color: white;
	color: #b60000;
	font-weight: bold;
	padding: 7px 20px;
	text-align: center;
	display: inline-block;
	font-size: 16px;
	border-radius: 7px;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
	cursor: pointer;
}

.inversesubmit:hover {
	background-color: #b60000;
	color: white;
}

.rf{
	float:right;	
	margin-top:15px;
}

.badge {
	position: absolute;
	padding: 3px 8px;
	border-radius: 50%;
	background-color:white;
	color: #B60000;
	font-size: 10px;
}

.bdgdel {
	margin-left:83px;
	margin-top:-7;
	position: absolute;
	border-radius: 50px;
	border:none;
	background: none;
}
.nn{
	border:none;
	background: none;
}

span .nn:hover{
	background-color: rgba(255,255,255,0.3);
	border-radius: 60px;
	border:outset;
	border-color:white;
	border-width: 0.5px;
	padding:-4px;
}

span .del:hover{
	margin-top:-3px;
}

.del{
	width: 20px;
	height: 20px;
}
.nl{float:right;
	border:none;
	background:none;
	height:40px; width:40px;
	margin-left:5px;
	margin-top:-7px;
}
.dd {
	float: left;
	overflow: hidden;
	border: none;
	outline: none;
	padding: 14px 16px;
	margin: 0;
	width: 100%
}

.db{
	border: none;
	outline: none;
	padding: 14px 16px;
	margin: 0;
	width: 100%;
	margin-top:-40%;
	background-color: #B60000;
}

.ddc {
	display: none;
	position: fixed;
	right: 20px;
	top: 13%;
	z-index: 999;
	width: 10%;
	background:none;
	min-width: 230px;
	z-index: 1;
}

.ddc .cmd:hover{
	background-color:#dddddd;
}

.dd:hover .db {
	background-color: rgba(0, 0, 0, 0.3);
	border-radius: 10%;
}

.dd:hover .ddc {
	display: block;
}
.btl{
	align-items:flex-start;
	width: 30px;
	height:30px;
}
.btl button:hover{
	background-color: rgba(0, 0, 0, 0.3);
}
.rtlg {
	float: right;
}
.ntf{
	width: 98%;
	border-radius: 15px;
	border:outset;
	border-width:1%;
	margin:1%;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.cmd{
	text-align:left;
	background-color:white;	
	width: 100%;
	height:60px;
	border-radius: 25px;
	border:outset;
	border-color:#c0c0c0;
	border-width:1%;
	margin:1%;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.rd{
	background-color: #ffaead!important;
}
.ddc .rd:hover{
	border-color: #B60000!important;
}
.gr{
	background-color: #adffb0!important;
}
.ddc .gr:hover{
	border-color: #008000!important;
}
.yl{
	background-color:#fffdad!important;
}
.ddc  .yl:hover {
	border-color:#d7d700!important;
}