@charset "ISO-8859-1";

body {
	background-color: #f2f2f2;
}

h2, h3 {
	color: #B60000;
}

.fr {
	height: 38px;
	width: 38px;
	float: left;
}

td {
	border-bottom: 0.5px inset #B60000;
	text-align: center;
	height: 30px;
}

th {
	border-bottom: 0.5px inset #B60000;
	background-color: rgba(255, 255, 255, 0.75);
	color: #B60000;
	border-radius: 8px;
	height: 30px;
	text-align: center;
}

table {
	margin-left: 3%;
	width: 90%
}